.blog {
  margin: 2.4rem;

  .post {
    margin-bottom: 2.4rem;
  }
  .bottom {
    margin-bottom: 4rem;
  }

  .lateral {
    padding: 4rem;
    background-color: $light-color;
  }

  @media screen and (min-width: 960px) {
    margin: 4rem 8rem;
    display: flex;
    justify-content: space-between;

    .posts {
      width: 67%;
      display: flex;
      justify-content: space-between;
      //border: 1px solid #000;

      .post {
        width: 48%;
      }

    }
    .lateral {
      width: 30%;
      //border: 1px solid #000;
    }
  }
}
