.bolsatrabajo {
  margin: 4rem 8rem 8rem;
  padding: 4rem 47% 4rem 4rem;
  border-radius: .8rem;
  background: $green-olive;
  position: relative;

  > .btn {

    @media screen and (min-width: 960px) {
      margin-top: 0;
      position: relative;
      transform: translateX(130%);
      z-index: 10;
      width: 60%;
      text-align: center;

      &:hover {
        transform: translate(130%, -.2rem);
        opacity: 1;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background: url("../imgs/carreras/bolsatrabajo.jpg") center/cover no-repeat;
  }
}
