.extra-material {
  margin: 4rem 2.4rem;
  display: block;

  @media screen and (min-width: 960px) {
    margin: 6.4rem 8rem;
    display: flex;
    height: 40rem;
  }

  &-text {
    flex-basis: 50%;
    margin-right: 3%;

    h3 {
      font-size: 3.2rem;
    }
  }

  &-video {
    flex-basis: 50%;

    iframe {
      //border-radius: .8rem .8rem 0 0;
      height: 40%;
      margin-top: 1.6rem;

      @media screen and (min-width: 960px) {
        height: 76%;
      }
    }
  }

  &-links {
    background-color: $innsist-blue;
    padding: 1.6rem;
    //border-radius: 0 0 .8rem .8rem;

    @media screen and (min-width: 960px) {
      padding: 1.6rem 2.4rem;
    }

    ul {
      display: flex;
      justify-content: space-between;
    }

    li {
      a {
        display: flex;
        align-items: center;
        color: $white;
        opacity: .8;
        font-size: 1.2rem;

        @media screen and (min-width: 960px) {
          font-size: 1.8rem;
        }

        &:hover {
          opacity: 1;
        }

        svg {
          width: 4.8rem;
          height: 4.8rem;
          margin-right: .8rem;
        }
      }
    }
  }
}
