.main-footer {
  background-color: $dark-olive;
  color: $white;
  padding: 0 4rem 4rem;

    a {
      color: $white;
      font-size: 1.4rem;
    }
    a:hover {
      color: $light-gray;
    }

    .products {
      max-width: 33%;
    }

}

.social {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;

  &-icons {
    display: inline-flex;
  }
  li {
    margin: 0 .5rem;
  }

}


.footer-category {
  display: flex;

  &-list + &-list {
    margin-left: 1.6rem;
  }

}
