.hotel-categories {
  padding: 8rem;
  background: rgba(#7286A0, .1);

  h2 {
    margin-bottom: 4rem;
    text-align: center;
  }

  img {
    width: 60%;
    margin: 0 auto;
  }

  p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
  }
}
