.top-nav > .nav {
    display: none;

    @media screen and (min-width: 960px) {
      & {
        display: block;
      }
      & > li {
        display: inline-block;
      }

      & > li + li  {
        margin-left: 2.4rem;
      }

      .link {
        padding-bottom: .8rem;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;
        text-decoration: none;
      }

      .link:hover {
        border-bottom: 4px solid rgba(255, 255, 255, .5);
      }
    }
  }

@media screen and (min-width: 960px) {
  .mobile-toggle {
    display: none;
  }
}
