.top-nav > .nav {
    position: absolute;
    right: 2.4rem;
    display: none;

    @media screen and (min-width: 960px) {
      max-height: 0;
      overflow: hidden;
      display: block;
    }

    &.active {
      display: block;
      height: auto;
      max-height: 40rem;
      padding: 2.4rem 0;
      transition: all .2s ease;
      border-bottom-left-radius: .4rem;
      border-bottom-right-radius: .4rem;
      opacity: 1;
      background-color: $white;
      box-shadow: 0 .2rem .2rem 0 rgba($text-color, .5);

      li + li {
        margin-top: 1.6rem;
      }

      a {
        padding: .8rem 4rem;
        font-size: 1.6rem;
        color: darken($health-blue, 10%);

        &:hover {
          text-decoration: underline;
        }
      }

      .solutions-list {
        display: none;
      }
    }


    @media screen and (min-width: 960px) {

      & {
        display: block;
        position: static;
        max-height: 40rem;
        overflow: visible;
      }

      & > li {
        display: inline-block;

        &.multi {

          > a:hover {
            border: 0;
          }

          .solutions-list {
            display: flex;
            visibility: hidden;
            position: absolute;
            top: 7.8rem;
            right: 4rem;
            padding: 3.2rem 5.6rem 4rem;

            &-category + .solutions-list-category {
              margin-left: 4.8rem;
            }

            > * {
              transition: opacity .8s ease;
              transition-delay: .2s;
              opacity: 0;
            }

            h4,
            h5 {
              margin-bottom: 1rem;
              opacity: .8;
              color: $text-color;
              font-family: $display-font;
              font-size: 1.8rem;
              letter-spacing: .1rem;
              text-transform: uppercase;

              a {
                color: $text-color;
                font-size: 1.8rem;
              }
            }

            h5 {
              margin-bottom: 0;
              opacity: .7;
              font-family: $body-font;
              font-size: 1.4rem;
              letter-spacing: 0;
              text-transform: capitalize;
              cursor: pointer;
            }

            a {
              color: darken($health-blue, 10%);
              font-size: 1.2rem;

              &:hover {
                text-decoration: underline;
              }
            }

            &::after {
              content: '';
              position: absolute;
              z-index: -1;
              top: 0;
              right: 0;
              width: 100%;
              height: 0;
              transition: all .2s ease;
              transition: all .2s ease;
              border-bottom-left-radius: .4rem;
              border-bottom-right-radius: .4rem;
              background-color: $white;
              box-shadow: 0 .2rem .2rem 0 rgba($text-color, .5);
            }
          }

          &:hover {

            .solutions-list {
              visibility: visible;
              opacity: 1;

                > * {
                  opacity: 1;
                }

                &::after {
                  height: 100%;
                }
            }
          }
        }
      }

      & > li + li  {
        margin-left: 2.4rem;
      }

      .link {
        padding-bottom: .8rem;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;
        text-decoration: none;
      }

      .link:hover {
        border-bottom: 4px solid rgba(255, 255, 255, .5);
      }
    }
  }

@media screen and (min-width: 960px) {
  .mobile-toggle {
    display: none;
  }
}

.suite-name {
  padding-bottom: .8rem;

  & + ul {
    display: none;
    margin: 0;
  }

  &.active {
    padding-bottom: 0;
  }

  &.active + ul {
    display: block;
    margin-bottom: 2.4rem;
  }
}


.language-nav {
  display: flex;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 1.6rem;
  align-items: center;
  padding: .2rem .4rem;
  border-radius: 0 0 .2rem .2rem;
  background-color: rgba($white, .8);
  color: $text-color;
  font-size: 1rem;
  opacity: .7;

  &:hover {
    opacity: 1;
  }

  @media screen and (min-width: 960px) {
    & {
      right: 4rem;
      padding: .4rem .8rem;
    }
  }

  .current-lang {
    display: flex;
    align-items: center;

    abbr {
      padding-right: .5rem;
      font-size: 1rem
    }

    svg {
      width: 1.1rem;
    }

    .st0 {
      fill: $text-color;
    }
  }

  &:hover {
    border-radius: 0;

    .more-langs {
      display: block;
    }
  }

  .more-langs {
    display: none;
  	position: absolute;
    top: 1.9rem;
  	right: 0;
    width: 4.1rem;
  	padding: 0;
    border-radius: 0 0 .4rem .4rem;
  	background: rgba($text-color, .9);
    box-shadow: 0 .2rem .2rem 0 rgba($text-color, .5);
    text-align: center;

    @media screen and (min-width: 960px) {
      & {
        top: 2.3rem;
        width: 5rem;
      }
    }

    a {
      display: block;
    	padding: 1.6rem .8rem;
    	color: $white;
    	text-decoration: none;

      abbr {
        padding: 0;
      }
    }
  }
}
