.top-nav > .nav {
    position: absolute;
    right: 2.4rem;
    max-height: 0;
    overflow: hidden;

    &.active {
      display: block;
      height: auto;
      max-height: 40rem;
      padding: 2.4rem 0;
      transition: all .2s ease;
      border-bottom-left-radius: .4rem;
      border-bottom-right-radius: .4rem;
      opacity: 1;
      background-color: $white;
      box-shadow: 0 .2rem .2rem 0 rgba($text-color, .5);

      li + li {
        margin-top: 1.6rem;
      }

      a {
        padding: .8rem 4rem;
        font-size: 1.6rem;

        &:hover {
          text-decoration: underline;
        }
      }

      .solutions-list {
        display: none;
      }
    }

    @media screen and (min-width: 960px) {

      & {
        display: block;
        position: static;
        overflow: visible;
        max-height: 40rem;
      }

      & > li {
        display: inline-block;

        &.multi {

          > a:hover {
            border: 0;
          }

          .solutions-list {
            display: flex;
            visibility: hidden;
            position: absolute;
            top: 7.8rem;
            right: 4rem;
            padding: 3.2rem 5.6rem 4rem;

            &-category + .solutions-list-category {
              margin-left: 4.8rem;
            }

            > * {
              transition: opacity .8s ease;
              transition-delay: .2s;
              opacity: 0;
            }

            h4 {
              margin-bottom: 1rem;
              opacity: .8;
              color: $text-color;
              font-family: $display-font;
              font-size: 1.8rem;
              letter-spacing: .1rem;
              text-transform: uppercase;
            }

            a {
              color: darken($health-blue, 10%);
              font-size: 1.2rem;

              &:hover {
                text-decoration: underline;
              }
            }

            &::after {
              content: '';
              position: absolute;
              z-index: -1;
              top: 0;
              right: 0;
              width: 100%;
              height: 0;
              transition: all .2s ease;
              transition: all .2s ease;
              border-bottom-left-radius: .4rem;
              border-bottom-right-radius: .4rem;
              background-color: $white;
              box-shadow: 0 .2rem .2rem 0 rgba($text-color, .5);
            }
          }

          &:hover {

            .solutions-list {
              visibility: visible;
              opacity: 1;

                > * {
                  opacity: 1;
                }

                &::after {
                  height: 100%;
                }
            }
          }
        }
      }

      & > li + li  {
        margin-left: 2.4rem;
      }

      .link {
        padding-bottom: .8rem;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;
        text-decoration: none;
      }

      .link:hover {
        border-bottom: 4px solid rgba(255, 255, 255, .5);
      }
    }
  }

@media screen and (min-width: 960px) {
  .mobile-toggle {
    display: none;
  }
}
