.tabs {
  margin: 8rem 2.4rem;
  padding: 8rem 0 0;

  @media screen and (min-width: 960px) {
    margin: 8rem 8rem 16rem;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-top: 1.6rem solid $innsist-shade;
    //border-radius: .4rem;
    //box-shadow: 0 .2rem .3rem 0 rgba($text-color, .3);
  }

  > h3 {
    grid-column: 1/-1;
    padding-bottom: 1.6rem;
    color: darken($innsist-shade, 15%);
    font-size: 3.2rem;
  }
}
.tab {
    grid-column: 1/2;
    border-top: .2rem solid $innsist-shade;
    border-bottom: 2px solid $innsist-shade;
    border-left: 2px solid $innsist-shade;
    //border-radius: 0 0 0 .4rem;
    background-color: $innsist-shade;

    button {
        display: block;
        width: 100%;
        padding: 1.6rem .8rem;
        transition: 0.3s;
        border: none;
        outline: none;
        background-color: $innsist-shade;
        color: $white;
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
        cursor: pointer;

        @media screen and (min-width: 960px) {
          padding: 2.4rem 1.6rem;
          font-size: 1.4rem;
        }

        &:hover {
            background-color: $innsist-blue;
            color: $white;
        }

        &.active {
            background-color: $white;
            color: darken($innsist-shade, 10%);
        }
    }
}



/* Style the tab content */
.tabcontent {
    grid-column: 2/3;
    padding: .8rem 1.6rem 0;
    border-top: 2px solid $innsist-shade;
    border-right: 2px solid $innsist-shade;
    border-bottom: 2px solid $innsist-shade;
    border-left: none;
    //border-radius: 0 0 .4rem 0;
    background-image: linear-gradient(180deg, #FFFFFF 38.29%, #ECECEC 100%);

    @media screen and (min-width: 960px) {
      padding: 4rem 8rem 0;
    }

    > h3 {
      font-size: 2.4rem;
    }

    > p {
      font-size: 1.6rem;

      @media screen and (min-width: 960px) {
        font-size: 1.8rem;
      }
    }
}
