.btn {
  transition: all ease .2s;
  box-shadow: 0 .6rem .3rem -.4rem rgba(0, 0, 0, .3);
  color: #fff;
  font-weight: 700;
}

.btn:hover {
  transform: translateY(-.1rem);
  opacity: .9;
  box-shadow: 0 .7rem .3rem -.3rem rgba(0, 0, 0, .3);
}
