h1, h2, h4 {
  font-family: $display-font;
}

h2 {
  font-size: 2.4rem;
  //text-transform: uppercase;

  @media screen and (min-width: 960px) {
    & {
      font-size: 4rem;
    }
  }
}

h3 {
  font-family: $display-font;
  //text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 2.2rem;
}
