/*-------------------------------------------
    Table of contents
-------------------------------------------*/
/*-----------------------------------
    Settings
------------------------------------*/
.slick-slide {
  margin: 0 2.4rem; }
  .slick-slide img {
    display: block; }
  .slick-slide .logo img {
    border-radius: 50%; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*-------------------------------------------
    Text
-------------------------------------------*/
/*-------------------------------------------
    Web fonts
-------------------------------------------*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoCondensed-Bold-webfont.woff") format("woff"); }

/*-------------------------------------------
    Colors
-------------------------------------------*/
/*-------------------------------------------
    Fonts
-------------------------------------------*/
/*-------------------------------------------
    Spacing
-------------------------------------------*/
/*-----------------------------------
    Base
------------------------------------*/
/*-----------------------------------
    Reset
------------------------------------*/
/**
 * Basic reset
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

/**
 * Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/
 */
*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* for rems */ }

/**
 * Set HTML5 elements to display: block
 */
header, footer, main, nav, section, article, figure {
  display: block; }

a {
  text-decoration: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  color: #383838;
  font-size: 1.8rem;
  line-height: 1.3; }
  @media screen and (min-width: 768px) and (max-width: 959px) {
    body {
      font-size: 80%; } }
  @media screen and (min-width: 960px) {
    body p {
      font-size: 2.4rem; } }

a {
  transition: all .2s ease; }

h1, h2, h4 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

h2 {
  font-size: 2.4rem;
  text-transform: uppercase; }
  @media screen and (min-width: 960px) {
    h2 {
      font-size: 4rem; } }

h3 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 2.2rem; }

.btn {
  display: inline-block;
  padding: 1.6rem 2.4rem;
  transition: all ease .2s;
  border-radius: .4rem;
  background-color: #F25F5C;
  box-shadow: 0 0.6rem 0.3rem -0.4rem rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: 700;
  letter-spacing: .1rem;
  text-transform: uppercase; }

.btn:hover {
  transform: translateY(-0.1rem);
  opacity: .9;
  box-shadow: 0 0.7rem 0.3rem -0.3rem rgba(0, 0, 0, 0.3); }

/*-----------------------------------
    Layout
------------------------------------*/
.content {
  margin: 2.4rem; }
  @media screen and (min-width: 960px) {
    .content {
      margin: 4rem 8rem; } }

p + .btn {
  margin: 3.2rem auto 0; }

.main-footer {
  padding: 0 2.4rem 2.4rem; }
  @media screen and (min-width: 960px) {
    .main-footer {
      padding: 0 8rem 4rem; } }
  .main-footer .copyright {
    margin: 4.8rem 0 0;
    text-align: center; }
    @media screen and (min-width: 960px) {
      .main-footer .copyright {
        margin: 8rem 0 0;
        text-align: left; } }
  .main-footer .social {
    display: block;
    align-items: center;
    margin: 0 -2.4rem 3.2rem;
    padding: 2.4rem; }
    @media screen and (min-width: 960px) {
      .main-footer .social {
        display: flex;
        justify-content: space-between;
        padding: 2.4rem 8rem;
        margin: 0 -8rem 3.2rem; } }
    .main-footer .social-icons {
      display: flex;
      justify-content: center; }
      @media screen and (min-width: 960px) {
        .main-footer .social-icons {
          justify-content: center; } }
      .main-footer .social-icons li svg {
        width: 2.4rem; }
      .main-footer .social-icons li + li {
        margin-left: 1.6rem; }
  .main-footer .footer-category {
    display: flex;
    flex-flow: column; }
    @media screen and (min-width: 960px) {
      .main-footer .footer-category {
        flex-flow: row; }
      @supports (display: grid) {
        .main-footer .footer-category {
          display: grid;
          grid-template-columns: repeat(2, 5fr 1fr) repeat(2, 5fr 1fr) 5fr; } } }
    .main-footer .footer-category-list + .main-footer .footer-category-list {
      margin: 10% 0 0; }
      @media screen and (min-width: 960px) {
        .main-footer .footer-category-list + .main-footer .footer-category-list {
          margin: 0 0 0 10%; } }
    .main-footer .footer-category-list.acerca {
      flex-basis: 25%; }
      @media screen and (min-width: 960px) {
        @supports (display: grid) {
          .main-footer .footer-category-list.acerca {
            grid-column: 1/4; }
          .main-footer .footer-category-list.acerca.footer-category-list-products {
            display: grid;
            grid-template-columns: 5fr 1fr 5fr; }
            .main-footer .footer-category-list.acerca.footer-category-list-products li:last-child {
              grid-column: 3/4; } } }
    .main-footer .footer-category-list.solutions-footer {
      flex-basis: 65%; }
      @media screen and (min-width: 960px) {
        @supports (display: grid) {
          .main-footer .footer-category-list.solutions-footer {
            display: grid;
            grid-column: 5/10; }
          .main-footer .footer-category-list.solutions-footer .footer-category-list-products {
            display: grid;
            grid-template-columns: repeat(2, 5fr 1fr) 5fr; }
            .main-footer .footer-category-list.solutions-footer .footer-category-list-products li:nth-child(2) {
              grid-column: 3/4; }
            .main-footer .footer-category-list.solutions-footer .footer-category-list-products li:last-child {
              grid-column: 5/6; } } }
    .main-footer .footer-category-list-products {
      display: flex;
      flex-flow: column; }
      @media screen and (min-width: 960px) {
        .main-footer .footer-category-list-products {
          flex-flow: row;
          justify-content: space-between; }
          @supports (display: grid) {
            .main-footer .footer-category-list-products {
              display: grid;
              grid-template-columns: 5fr 1fr 5fr; }
              .main-footer .footer-category-list-products li:last-child {
                grid-column: 3/4; } }
        .main-footer .footer-category-list-products li ul > li {
          display: none; } }
  @media screen and (min-width: 960px) and (min-width: 960px) {
    .main-footer .footer-category-list-products li ul > li {
      display: flex; } }
    .main-footer .footer-category-list h4 {
      margin: 1.2rem 0 .8rem;
      color: #AFB1AC;
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: .1rem;
      text-align: center;
      text-transform: uppercase; }
      @media screen and (min-width: 960px) {
        .main-footer .footer-category-list h4 {
          text-align: left; } }
      .main-footer .footer-category-list h4 a {
        padding-bottom: .2rem;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.6);
        font-size: 1.4rem; }
        .main-footer .footer-category-list h4 a:hover {
          text-decoration: none; }
      .main-footer .footer-category-list h4 + ul > li {
        margin: .4rem 0; }

.hotel-categories {
  margin: 4rem 0;
  padding: 2.4rem; }
  @media screen and (min-width: 960px) {
    .hotel-categories {
      margin: 8rem 0;
      padding: 4rem 2.4rem; } }

.text-columns {
  column-gap: 2.4rem;
  column-count: 3; }
  .text-columns p {
    margin-top: 0;
    font-size: 2.1rem; }

@media screen and (min-width: 960px) {
  .solutions.one-category {
    margin: 8rem; } }

/*-----------------------------------
    Components
------------------------------------*/
.logo svg {
  width: 10rem; }
  @media screen and (min-width: 960px) {
    .logo svg {
      width: auto; } }

.main-header {
  display: flex;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2.4rem; }
  @media screen and (min-width: 960px) {
    .main-header {
      padding: 4rem; } }

.top-nav > .nav {
  position: absolute;
  right: 2.4rem;
  max-height: 0;
  overflow: hidden; }
  .top-nav > .nav.active {
    display: block;
    height: auto;
    max-height: 40rem;
    padding: 2.4rem 0;
    transition: all .2s ease;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(56, 56, 56, 0.5); }
    .top-nav > .nav.active li + li {
      margin-top: 1.6rem; }
    .top-nav > .nav.active a {
      padding: .8rem 4rem;
      font-size: 1.6rem; }
      .top-nav > .nav.active a:hover {
        text-decoration: underline; }
    .top-nav > .nav.active .solutions-list {
      display: none; }
  @media screen and (min-width: 960px) {
    .top-nav > .nav {
      display: block;
      position: static;
      overflow: visible;
      max-height: 40rem; }
    .top-nav > .nav > li {
      display: inline-block; }
      .top-nav > .nav > li.multi > a:hover {
        border: 0; }
      .top-nav > .nav > li.multi .solutions-list {
        display: flex;
        visibility: hidden;
        position: absolute;
        top: 7.8rem;
        right: 4rem;
        padding: 3.2rem 5.6rem 4rem; }
        .top-nav > .nav > li.multi .solutions-list-category + .solutions-list-category {
          margin-left: 4.8rem; }
        .top-nav > .nav > li.multi .solutions-list > * {
          transition: opacity .8s ease;
          transition-delay: .2s;
          opacity: 0; }
        .top-nav > .nav > li.multi .solutions-list h4 {
          margin-bottom: 1rem;
          opacity: .8;
          color: #383838;
          font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
          font-size: 1.8rem;
          letter-spacing: .1rem;
          text-transform: uppercase; }
        .top-nav > .nav > li.multi .solutions-list a {
          color: #3576a3;
          font-size: 1.2rem; }
          .top-nav > .nav > li.multi .solutions-list a:hover {
            text-decoration: underline; }
        .top-nav > .nav > li.multi .solutions-list::after {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          right: 0;
          width: 100%;
          height: 0;
          transition: all .2s ease;
          transition: all .2s ease;
          border-bottom-left-radius: .4rem;
          border-bottom-right-radius: .4rem;
          background-color: #fff;
          box-shadow: 0 0.2rem 0.2rem 0 rgba(56, 56, 56, 0.5); }
      .top-nav > .nav > li.multi:hover .solutions-list {
        visibility: visible;
        opacity: 1; }
        .top-nav > .nav > li.multi:hover .solutions-list > * {
          opacity: 1; }
        .top-nav > .nav > li.multi:hover .solutions-list::after {
          height: 100%; }
    .top-nav > .nav > li + li {
      margin-left: 2.4rem; }
    .top-nav > .nav .link {
      padding-bottom: .8rem;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 700;
      text-decoration: none; }
    .top-nav > .nav .link:hover {
      border-bottom: 4px solid rgba(255, 255, 255, 0.5); } }

@media screen and (min-width: 960px) {
  .mobile-toggle {
    display: none; } }

.hero-image, .hero-nosotros, .hero-hoteleria, .hero-ipms {
  display: flex;
  position: relative;
  height: 45vh;
  padding: 4.8rem 2.4rem 2.4rem;
  background: url(../imgs/hero.jpg) center no-repeat;
  background-size: cover; }
  @media screen and (min-width: 960px) {
    .hero-image, .hero-nosotros, .hero-hoteleria, .hero-ipms {
      height: 70vh;
      padding: 4.8rem 8rem 2.4rem; } }

.hero-image::after, .hero-nosotros::after, .hero-hoteleria::after, .hero-ipms::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  bottom: -7rem;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: #D93E3E; }
  @media screen and (min-width: 960px) {
    .hero-image::after, .hero-nosotros::after, .hero-hoteleria::after, .hero-ipms::after {
      bottom: -10.6rem;
      height: 16rem; } }

.hero-image > .main-heading, .hero-nosotros > .main-heading, .hero-hoteleria > .main-heading, .hero-ipms > .main-heading {
  width: 66%;
  margin: auto 0;
  color: #fff;
  font-size: 2.4rem;
  letter-spacing: .1rem;
  line-height: 1.25;
  text-transform: uppercase; }
  @media screen and (min-width: 960px) {
    .hero-image > .main-heading, .hero-nosotros > .main-heading, .hero-hoteleria > .main-heading, .hero-ipms > .main-heading {
      width: 50%;
      margin: auto 0;
      font-size: 6.4rem;
      line-height: 1.1; } }

.hero-nosotros {
  background: url(../imgs/nosotros/nosotros.jpg) center/cover no-repeat; }

.hero-hoteleria {
  background: url(../imgs/hoteleria.jpg) center/cover no-repeat; }
  .hero-hoteleria::after {
    background-color: #34495E; }

.hero-ipms {
  background: url(../imgs/ipms.jpg) center/cover no-repeat; }
  .hero-ipms::after {
    background-color: #34495E; }

.intro {
  position: relative;
  margin: 0 0 0 1.2rem;
  padding: .8rem 2.4rem .8rem 1.2rem;
  border-top-left-radius: .4rem;
  background-color: #fff; }
  @media screen and (min-width: 960px) {
    .intro {
      margin: 0 0 0 5.6rem;
      padding: 1.6rem 8rem .8rem 2.4rem; } }

.intro > h2 {
  margin: 0;
  font-size: 2.6rem; }
  @media screen and (min-width: 960px) {
    .intro > h2 {
      margin: .8rem 0 0;
      font-size: 4.6rem; } }

.intro > p {
  line-height: 1.3;
  margin: 1.6rem 0 0; }
  @media screen and (min-width: 960px) {
    .intro > p {
      font-size: 2.8rem; } }

.solutions .products {
  display: none; }
  .solutions .products-list {
    display: flex;
    flex-wrap: wrap; }
  .solutions .products-category {
    min-width: 33%;
    margin: 3.2rem 0 0; }

@media screen and (min-width: 960px) {
  .solutions > .hospitality > a::after {
    background: url(../imgs/hotel.jpg) center/cover no-repeat; }
  .solutions > .healthcare > a::after {
    background: url(../imgs/health.jpg) center/cover no-repeat; }
  .solutions > .retail > a::after {
    background: url(../imgs/retail.jpg) center/cover no-repeat; }
  .solutions .products {
    display: block;
    position: absolute;
    height: 0;
    padding: 0 2.4rem 3.2rem;
    overflow: hidden;
    transform: translateY(-100%);
    transition: all ease .2s;
    opacity: 0;
    background-color: #253544; }
    .solutions .products-category-title {
      margin: 0 0 .8rem;
      opacity: .6;
      letter-spacing: .1rem;
      text-transform: uppercase; }
    .solutions .products > ul > li:first-child {
      margin-top: 3.2rem; }
    .solutions .products > ul > li > ul > li + li {
      margin-top: .4rem; }
    .solutions .products a {
      transition: all .2s ease;
      color: #fff;
      font-size: 1.4rem;
      text-decoration: none; }
      .solutions .products a:hover {
        opacity: .9;
        text-decoration: underline; } }

.solutions > section {
  position: relative;
  margin: 3.2rem 2.4rem;
  color: #fff;
  font-size: 1.6rem; }
  .solutions > section:first-child {
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem; }
  .solutions > section:last-child {
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem; }
  @media screen and (min-width: 960px) {
    .solutions > section {
      margin: 0; }
    .solutions > section:hover .products {
      display: block;
      position: relative;
      height: auto;
      transform: translateY(0);
      opacity: 1; }
    .solutions > section:nth-child(2) > a > .solution-info {
      padding: 4.8rem 0 4.8rem 4.8rem;
      float: right; }
    .solutions > section:nth-child(2) > a::after {
      right: auto;
      left: 0; } }
  .solutions > section::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .8rem;
    opacity: .8; }
    @media screen and (min-width: 960px) {
      .solutions > section::before {
        opacity: 1; } }
  .solutions > section > * {
    position: relative;
    z-index: 5; }
  @media screen and (min-width: 960px) {
    .solutions > section {
      position: relative;
      overflow: hidden;
      background-image: none; } }
  .solutions > section > a {
    display: block;
    padding: 2.4rem 3.2rem;
    color: #fff;
    text-decoration: none; }
    @media screen and (min-width: 960px) {
      .solutions > section > a {
        padding: 4.8rem 3.2rem;
        overflow: hidden;
        transition: all ease .2s; }
      .solutions > section > a:hover {
        background-color: rgba(255, 255, 255, 0.1); }
      .solutions > section > a::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 100%; } }
    @media screen and (min-width: 960px) {
      .solutions > section > a > .solution-info {
        width: 50%;
        padding: 4.8rem 4.8rem 4.8rem 0; }
        .solutions > section > a > .solution-info p {
          font-size: 1.8rem; } }

.solutions h2 {
  margin-bottom: .8rem; }

.solutions > .hospitality {
  background: url(../imgs/hotel.jpg) center/cover no-repeat; }
  .solutions > .hospitality .products {
    background-color: #253544; }

.solutions > .hospitality::before {
  background-color: #34495E; }

.solutions > .healthcare {
  background: url(../imgs/health.jpg) center/cover no-repeat; }
  .solutions > .healthcare .products {
    background-color: #387caa; }

.solutions > .healthcare::before {
  background-color: #4891C3; }

.solutions > .retail {
  background: url(../imgs/retail.jpg) center/cover no-repeat; }
  .solutions > .retail .products {
    background-color: #713c64; }

.solutions > .retail::before {
  background-color: #8C4A7C; }

.hotels-categories {
  display: flex;
  justify-content: space-between; }

.innsist-data {
  margin: 8rem 0;
  padding: 0 2.4rem;
  background-color: #eeefee; }
  @media screen and (min-width: 960px) {
    .innsist-data {
      padding: 8rem; } }
  .innsist-data > h3 {
    margin-bottom: 2.4rem;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (min-width: 960px) {
      .innsist-data > h3 {
        font-size: 4rem; } }
  .innsist-data p {
    font-size: 1.8rem; }

.columns {
  display: flex;
  padding: 4rem 8rem;
  font-size: 1.4rem; }
  .columns > div {
    width: 38%; }
  .columns h2 {
    padding-bottom: .8rem;
    font-size: 2.4rem; }
  .columns li {
    width: 90%;
    padding: .8rem 0; }

.certifications {
  flex-basis: 50%;
  padding: 3.2rem;
  background-color: #F0EFF4; }
  .certifications > h2 {
    margin-bottom: .8rem; }
  @media screen and (min-width: 960px) {
    .certifications {
      padding: 8rem 4.8rem; } }

.extra {
  padding: 3.2rem;
  flex-basis: 50%; }
  @media screen and (min-width: 960px) {
    .extra {
      padding: 8rem 4.8rem; } }
  .extra > h3 {
    font-size: 2.4rem; }
    @media screen and (min-width: 960px) {
      .extra > h3 {
        font-size: 4rem; } }

.client-portal {
  flex-basis: 50%;
  padding: 3.2rem;
  background-color: #CCE2A3; }
  .client-portal > h2 {
    margin-bottom: .8rem; }
  @media screen and (min-width: 960px) {
    .client-portal {
      padding: 8rem 4.8rem; } }

.hotel-categories {
  background: rgba(114, 134, 160, 0.1);
  border-radius: .8rem; }
  .hotel-categories h2 {
    margin-bottom: 4.8rem;
    text-align: center; }
    @media screen and (min-width: 960px) {
      .hotel-categories h2 {
        font-size: 4rem; } }
  .hotel-categories img {
    margin: 0 auto; }
    @media screen and (min-width: 960px) {
      .hotel-categories img {
        width: 70%; } }
  .hotel-categories p {
    font-size: 1rem;
    font-weight: 600;
    text-align: center; }
    @media screen and (min-width: 960px) {
      .hotel-categories p {
        font-size: 1.4rem; } }

.our-clients {
  margin: 4rem 0 0;
  padding: 4rem 2.4rem;
  background-color: #F0EFF4; }
  @media screen and (min-width: 960px) {
    .our-clients {
      margin: 8rem 0 0;
      padding: 6.4rem 2.4rem; } }
  .our-clients > h3 {
    margin-bottom: 2.4rem;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (min-width: 960px) {
      .our-clients > h3 {
        font-size: 4rem; } }

.client-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.6rem 0;
  margin: 0 -2.4rem; }
  @media screen and (min-width: 960px) {
    .client-logos {
      padding: 1.6rem;
      margin: 0; } }
  .client-logos .logo img {
    max-width: 7.2rem;
    border-radius: 50%; }
    @media screen and (min-width: 960px) {
      .client-logos .logo img {
        width: 80%; } }
  .client-logos .slick-slide {
    margin: 0 1.6rem; }
    @media screen and (min-width: 960px) {
      .client-logos .slick-slide {
        margin: 0 2.4rem; } }

.main-footer {
  background-color: #5C6055;
  color: #fff; }
  .main-footer a {
    color: #fff;
    font-size: 1.4rem; }
    .main-footer a:hover {
      color: #ccc;
      text-decoration: underline; }
  .main-footer h3 a {
    display: block;
    padding: .8rem 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-size: 1.8rem;
    text-align: center; }
    .main-footer h3 a:hover {
      text-decoration: none; }
    @media screen and (min-width: 960px) {
      .main-footer h3 a {
        display: inline-block;
        padding: 0;
        border: 0; }
      .main-footer h3 a:hover {
        text-decoration: underline; } }
  .main-footer .copyright {
    opacity: .5;
    font-size: 1.2rem; }
  .main-footer .social {
    background-color: #42453d;
    text-align: center; }
    .main-footer .social .tel {
      font-size: 1.8rem; }
    .main-footer .social-icons li svg {
      fill: #fff; }
  .main-footer .footer-category-list + .footer-category-list {
    margin-top: 4.8rem; }
  @media screen and (min-width: 960px) {
    .main-footer .footer-category-list + .footer-category-list {
      margin-top: 0; } }
  .main-footer .footer-category-list.acerca {
    flex-basis: 25%; }
  .main-footer .footer-category-list.solutions-footer {
    flex-basis: 65%; }
  .main-footer .footer-category-list-products li ul > li {
    display: none; }
    @media screen and (min-width: 960px) {
      .main-footer .footer-category-list-products li ul > li {
        display: flex; } }
  .main-footer .footer-category h4 {
    margin: 1.2rem 0 .8rem;
    color: #AFB1AC;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .1rem;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (min-width: 960px) {
      .main-footer .footer-category h4 {
        text-align: left; } }
    .main-footer .footer-category h4 a {
      padding-bottom: .2rem;
      border-bottom: 0.1rem solid rgba(255, 255, 255, 0.6);
      font-size: 1.4rem; }
      .main-footer .footer-category h4 a:hover {
        text-decoration: none; }
    .main-footer .footer-category h4 + ul > li {
      margin: .4rem 0; }

.solutions-benefits > h3 {
  padding: 1.6rem;
  color: #F25F5C;
  text-align: center; }
  @media screen and (min-width: 960px) {
    .solutions-benefits > h3 {
      font-size: 4rem; } }

.extra-material {
  margin: 6.4rem 8rem;
  display: flex;
  height: 40rem; }
  .extra-material-video {
    flex-basis: 70%; }
    .extra-material-video iframe {
      border-top-left-radius: .8rem;
      border-bottom-left-radius: .8rem; }
  .extra-material-links {
    background-color: #34495E;
    flex-basis: 30%;
    padding: 4rem;
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem; }
    .extra-material-links li a {
      display: flex;
      align-items: center;
      color: #fff;
      opacity: .8; }
      .extra-material-links li a:hover {
        opacity: 1; }
      .extra-material-links li a svg {
        width: 4.8rem;
        margin-right: 1.6rem; }

.cards-list {
  display: flex;
  padding: 2.4rem 0 4rem 0;
  overflow: hidden;
  overflow-x: scroll;
  border-top: 1.6rem solid #F25F5C;
  background-color: #F0EFF4; }
  .cards-list-item {
    min-width: 24rem;
    padding: 0 .8rem;
    font-size: 1.4rem;
    line-height: 1.5; }
    .cards-list-item:first-child {
      padding-left: 1.6rem; }
    .cards-list-item:last-child {
      padding-right: 1.6rem; }
    .cards-list-item-info {
      height: 100%;
      padding: 1.6rem;
      background-color: #fff;
      border-radius: .4rem;
      box-shadow: 0 0.1rem 0.3rem rgba(56, 56, 56, 0.3); }

.cards li strong {
  display: block;
  margin-bottom: .8rem;
  font-size: 1.6rem;
  font-weight: 700; }

/*-----------------------------------
    Utilities
------------------------------------*/
.flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.two-sections {
  display: block; }
  .two-sections li {
    margin-bottom: 1.5rem;
    font-size: 1.6rem; }
  @media screen and (min-width: 768px) {
    .two-sections {
      display: flex; } }
