/*-------------------------------------------
    Table of contents
-------------------------------------------*/
/*-----------------------------------
    Settings
------------------------------------*/
.slick-slide {
  margin: 0 2.4rem; }
  .slick-slide img {
    width: 80%;
    border-radius: 50%;
    display: block; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*-------------------------------------------
    Text
-------------------------------------------*/
/*-------------------------------------------
    Web fonts
-------------------------------------------*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoCondensed-Bold-webfont.woff") format("woff"); }
/*-------------------------------------------
    Colors
-------------------------------------------*/
/*-------------------------------------------
    Fonts
-------------------------------------------*/
/*-------------------------------------------
    Spacing
-------------------------------------------*/
/*-----------------------------------
    Base
------------------------------------*/
/*-----------------------------------
    Reset
------------------------------------*/
/**
 * Basic reset
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

/**
 * Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/
 */
*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* for rems */ }

/**
 * Set HTML5 elements to display: block
 */
header, footer, main, nav, section, article, figure {
  display: block; }

a {
  text-decoration: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  color: #383838;
  font-size: 1.8rem;
  line-height: 1.3; }
  @media screen and (min-width: 768px) and (max-width: 959px) {
    body {
      font-size: 80%; } }
  @media screen and (min-width: 960px) {
    body p {
      font-size: 2.4rem; } }

h1, h2, h4 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

h2 {
  font-size: 2.4rem;
  text-transform: uppercase; }
  @media screen and (min-width: 960px) {
    h2 {
      font-size: 4rem; } }

h3 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.2rem; }

h4 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #AFB1AC;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase; }

.btn {
  display: inline-block;
  padding: 1.6rem 2.4rem;
  transition: all ease .2s;
  border-radius: .4rem;
  background-color: #F25F5C;
  box-shadow: 0 0.6rem 0.3rem -0.4rem rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: 700;
  letter-spacing: .1rem;
  text-transform: uppercase; }

.btn:hover {
  transform: translateY(-0.1rem);
  opacity: .9;
  box-shadow: 0 0.7rem 0.3rem -0.3rem rgba(0, 0, 0, 0.3); }

/*-----------------------------------
    Layout
------------------------------------*/
p + .btn {
  margin: 3.2rem auto 0; }

/*-----------------------------------
    Components
------------------------------------*/
.logo svg {
  width: 10rem; }
  @media screen and (min-width: 960px) {
    .logo svg {
      width: auto; } }

.main-header {
  display: flex;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2.4rem; }
  @media screen and (min-width: 960px) {
    .main-header {
      padding: 4rem; } }

.top-nav > .nav {
  display: none; }
  @media screen and (min-width: 960px) {
    .top-nav > .nav {
      display: block; }
    .top-nav > .nav > li {
      display: inline-block; }
      .top-nav > .nav > li.multi > a:hover {
        border: 0; }
      .top-nav > .nav > li.multi .solutions-list {
        visibility: hidden;
        display: flex;
        position: absolute;
        top: 7.8rem;
        right: 4rem;
        padding: 3.2rem 5.6rem 4rem; }
        .top-nav > .nav > li.multi .solutions-list-category + .solutions-list-category {
          margin-left: 4.8rem; }
        .top-nav > .nav > li.multi .solutions-list > * {
          opacity: 0;
          transition: opacity .8s ease;
          transition-delay: .2s; }
        .top-nav > .nav > li.multi .solutions-list h4 {
          text-transform: uppercase;
          letter-spacing: .1rem;
          color: #383838;
          opacity: .8;
          font-size: 1.8rem;
          margin-bottom: 1rem; }
        .top-nav > .nav > li.multi .solutions-list a {
          font-size: 1.4rem;
          color: #5A9C49; }
          .top-nav > .nav > li.multi .solutions-list a:hover {
            text-decoration: underline; }
        .top-nav > .nav > li.multi .solutions-list::after {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          right: 0;
          width: 100%;
          height: 0;
          transition: all .2s ease;
          border-bottom-left-radius: .4rem;
          border-bottom-right-radius: .4rem;
          background-color: #fff;
          box-shadow: 0 0.2rem 0.2rem 0 rgba(56, 56, 56, 0.5);
          transition: all .2s ease; }
      .top-nav > .nav > li.multi:hover .solutions-list {
        visibility: visible;
        opacity: 1; }
        .top-nav > .nav > li.multi:hover .solutions-list > * {
          opacity: 1; }
        .top-nav > .nav > li.multi:hover .solutions-list::after {
          height: 100%; }
    .top-nav > .nav > li + li {
      margin-left: 2.4rem; }
    .top-nav > .nav .link {
      padding-bottom: .8rem;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 700;
      text-decoration: none; }
    .top-nav > .nav .link:hover {
      border-bottom: 4px solid rgba(255, 255, 255, 0.5); } }

@media screen and (min-width: 960px) {
  .mobile-toggle {
    display: none; } }
.hero-image {
  display: flex;
  position: relative;
  height: 45vh;
  padding: 4.8rem 2.4rem 2.4rem;
  background: url(../imgs/hero.jpg) center no-repeat;
  background-size: cover; }
  @media screen and (min-width: 960px) {
    .hero-image {
      height: 70vh;
      padding: 4.8rem 8rem 2.4rem; } }

.hero-image::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  bottom: -7rem;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: #D93E3E; }
  @media screen and (min-width: 960px) {
    .hero-image::after {
      bottom: -10.6rem;
      height: 16rem; } }

.hero-image > .main-heading {
  width: 66%;
  margin: auto 0;
  color: #fff;
  font-size: 2.4rem;
  letter-spacing: .1rem;
  line-height: 1.25;
  text-transform: uppercase; }
  @media screen and (min-width: 960px) {
    .hero-image > .main-heading {
      width: 50%;
      margin: auto 0;
      font-size: 6.4rem;
      line-height: 1.1; } }

.intro {
  position: relative;
  z-index: 10;
  margin: 0 0 0 1.6rem;
  padding: 1.6rem 2.4rem .8rem .8rem;
  border-top-left-radius: .4rem;
  background-color: #fff; }
  @media screen and (min-width: 960px) {
    .intro {
      margin: 0 0 0 5.6rem;
      padding: 1.6rem 8rem .8rem 2.4rem; } }

.intro > h2 {
  margin-bottom: .8rem;
  font-size: 2.6rem; }
  @media screen and (min-width: 960px) {
    .intro > h2 {
      font-size: 4.6rem; } }

.intro > p {
  line-height: 1.3; }
  @media screen and (min-width: 960px) {
    .intro > p {
      font-size: 2.8rem; } }

.solutions .products {
  display: none; }
  .solutions .products-list {
    display: flex;
    flex-wrap: wrap; }
  .solutions .products-category {
    min-width: 33%;
    margin: 3.2rem 0 0; }
@media screen and (min-width: 960px) {
  .solutions {
    margin: 8rem 0; }
  .solutions > .hospitality > a::after {
    background: url(../imgs/hotel.jpg) center/cover no-repeat; }
  .solutions > .healthcare > a::after {
    background: url(../imgs/health.jpg) center/cover no-repeat; }
  .solutions > .retail > a::after {
    background: url(../imgs/retail.jpg) center/cover no-repeat; }
  .solutions .products {
    position: absolute;
    height: 0;
    padding: 0 2.4rem 3.2rem;
    overflow: hidden;
    display: block;
    transform: translateY(-100%);
    transition: all ease .2s;
    opacity: 0;
    background-color: #253544; }
    .solutions .products-category-title {
      text-transform: uppercase;
      letter-spacing: .1rem;
      margin: 0 0 .8rem;
      opacity: .6; }
    .solutions .products > ul > li:first-child {
      margin-top: 3.2rem; }
    .solutions .products > ul > li > ul > li + li {
      margin-top: .4rem; }
    .solutions .products a {
      text-decoration: none;
      color: #fff;
      font-size: 1.4rem;
      transition: all .2s ease; }
      .solutions .products a:hover {
        text-decoration: underline;
        opacity: .9; } }
.solutions > section {
  position: relative;
  margin: 3.2rem 2.4rem;
  color: #fff;
  font-size: 1.6rem; }
  .solutions > section:first-child {
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem; }
  .solutions > section:last-child {
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem; }
  @media screen and (min-width: 960px) {
    .solutions > section:hover .products {
      display: block;
      position: relative;
      height: auto;
      transform: translateY(0);
      opacity: 1; }
    .solutions > section:nth-child(2) > a > .solution-info {
      float: right;
      padding: 4.8rem 0 4.8rem 4.8rem; }
    .solutions > section:nth-child(2) > a::after {
      right: auto;
      left: 0; } }
  .solutions > section::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8; }
    @media screen and (min-width: 960px) {
      .solutions > section::before {
        opacity: 1; } }
  .solutions > section > * {
    position: relative;
    z-index: 5; }
  @media screen and (min-width: 960px) {
    .solutions > section {
      position: relative;
      margin: 0 8rem;
      overflow: hidden;
      background-image: none !important; } }
  .solutions > section > a {
    display: block;
    padding: 4.8rem 3.2rem;
    color: #fff;
    text-decoration: none; }
    @media screen and (min-width: 960px) {
      .solutions > section > a {
        transition: all ease .2s;
        overflow: hidden; }
      .solutions > section > a:hover {
        background-color: rgba(255, 255, 255, 0.1); }
      .solutions > section > a::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
        opacity: .8; } }
    @media screen and (min-width: 960px) {
      .solutions > section > a > .solution-info {
        width: 50%;
        padding: 4.8rem 4.8rem 4.8rem 0; } }

.solutions h2 {
  margin-bottom: .8rem; }

.solutions > .hospitality {
  background: url(../imgs/hotel.jpg) center/cover no-repeat; }
  .solutions > .hospitality .products {
    background-color: #253544; }

.solutions > .hospitality::before {
  background-color: #34495E; }

.solutions > .healthcare {
  background: url(../imgs/health.jpg) center/cover no-repeat; }
  .solutions > .healthcare .products {
    background-color: #12639a; }

.solutions > .healthcare::before {
  background-color: #167BBF; }

.solutions > .retail {
  background: url(../imgs/retail.jpg) center/cover no-repeat; }
  .solutions > .retail .products {
    background-color: #662858; }

.solutions > .retail::before {
  background-color: #833471; }

.hotels-categories {
  display: flex;
  justify-content: space-between; }

.solutions-benefits {
  margin: 4rem 0 0;
  padding: 4rem 2.4rem;
  background-color: #34495E;
  color: #fff; }
  @media screen and (min-width: 960px) {
    .solutions-benefits {
      padding: 6.4rem 2.4rem; } }
  .solutions-benefits > h3 {
    margin-bottom: 2.4rem;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (min-width: 960px) {
      .solutions-benefits > h3 {
        font-size: 4rem; } }

.innsist-data {
  margin: 4rem 0 0;
  padding: 0 2.4rem; }
  @media screen and (min-width: 960px) {
    .innsist-data {
      padding: 0 2.4rem; } }
  .innsist-data > h3 {
    margin-bottom: 2.4rem;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (min-width: 960px) {
      .innsist-data > h3 {
        font-size: 4rem; } }

.columns {
  display: flex;
  justify-content: space-between; }
  .columns li {
    width: 50%;
    padding: 0 2rem; }

.extra {
  padding: 3.2rem;
  flex-basis: 50%; }
  @media screen and (min-width: 960px) {
    .extra {
      padding: 8rem 4.8rem; } }
  .extra > h3 {
    font-size: 2.4rem; }
    @media screen and (min-width: 960px) {
      .extra > h3 {
        font-size: 4rem; } }

.client-portal {
  flex-basis: 50%;
  padding: 3.2rem;
  background-color: #CCE2A3; }
  .client-portal > h2 {
    margin-bottom: .8rem; }
  @media screen and (min-width: 960px) {
    .client-portal {
      padding: 8rem 4.8rem; } }

.our-clients {
  margin: 4rem 0 0;
  padding: 4rem 2.4rem;
  background-color: #F0EFF4; }
  @media screen and (min-width: 960px) {
    .our-clients {
      padding: 6.4rem 2.4rem; } }
  .our-clients > h3 {
    margin-bottom: 2.4rem;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (min-width: 960px) {
      .our-clients > h3 {
        font-size: 4rem; } }

.client-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.6rem; }
  .client-logos > .logo {
    width: 8rem;
    height: 8rem;
    margin: 2% 4%;
    border-radius: 50%;
    background-color: #ccc; }
    @media screen and (min-width: 960px) {
      .client-logos > .logo {
        width: 14rem;
        height: 14rem;
        margin: 2% 3%; } }

.main-footer {
  background-color: #5C6055;
  color: #fff;
  padding: 0 4rem 4rem; }
  .main-footer a {
    color: #fff;
    font-size: 1.4rem; }
  .main-footer a:hover {
    color: #ccc; }
  .main-footer .products {
    max-width: 33%; }

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 4rem;
  margin: 0 -4rem 3.2rem;
  background-color: #42453d; }
  .social .tel {
    font-size: 1.8rem; }
  .social-icons {
    display: flex; }
    .social-icons li svg {
      width: 2.4rem;
      fill: #fff; }
    .social-icons li + li {
      margin-left: 1.6rem; }

.footer-category {
  display: flex;
  justify-content: space-between; }
  .footer-category-list + .footer-category-list {
    margin-left: 1.6rem; }
  .footer-category .top {
    padding-top: 18px; }

/*-----------------------------------
    Utilities
------------------------------------*/
.flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.two-sections {
  display: block; }
  @media screen and (min-width: 768px) {
    .two-sections {
      display: flex; } }

/*# sourceMappingURL=style.css.map */
