/*-------------------------------------------
    Table of contents
-------------------------------------------*/
/*-----------------------------------
    Settings
------------------------------------*/
/*-------------------------------------------
    Text
-------------------------------------------*/
/*-------------------------------------------
    Web fonts
-------------------------------------------*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoCondensed-Bold-webfont.woff") format("woff"); }

/*-------------------------------------------
    Colors
-------------------------------------------*/
/*-------------------------------------------
    Fonts
-------------------------------------------*/
/*-------------------------------------------
    Spacing
-------------------------------------------*/
/*-----------------------------------
    Base
------------------------------------*/
/*-----------------------------------
    Reset
------------------------------------*/
/**
 * Basic reset
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

/**
 * Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/
 */
*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* for rems */ }

/**
 * Set HTML5 elements to display: block
 */
header, footer, main, nav, section, article, figure {
  display: block; }

a {
  text-decoration: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  color: #383838;
  font-size: 1.8rem;
  line-height: 1.3; }
  @media screen and (min-width: 768px) and (max-width: 959px) {
    body {
      font-size: 80%; } }
  @media screen and (min-width: 960px) {
    body p {
      font-size: 2.4rem; } }

h1, h2, h3, h4 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

h2 {
  font-size: 2.4rem;
  text-transform: uppercase; }
  @media screen and (min-width: 960px) {
    h2 {
      font-size: 4rem; } }

.btn {
  display: inline-block;
  padding: 1.6rem 2.4rem;
  transition: all ease .2s;
  border-radius: .4rem;
  background-color: #F25F5C;
  box-shadow: 0 0.6rem 0.3rem -0.4rem rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: 700;
  letter-spacing: .1rem;
  text-transform: uppercase; }

.btn:hover {
  transform: translateY(-0.1rem);
  opacity: .9;
  box-shadow: 0 0.7rem 0.3rem -0.3rem rgba(0, 0, 0, 0.3); }

/*-----------------------------------
    Layout
------------------------------------*/
/*-----------------------------------
    Components
------------------------------------*/
.logo svg {
  width: 10rem; }
  @media screen and (min-width: 960px) {
    .logo svg {
      width: auto; } }

.main-header {
  display: flex;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2.4rem; }
  @media screen and (min-width: 960px) {
    .main-header {
      padding: 4rem; } }

.top-nav > .nav {
  display: none; }
  @media screen and (min-width: 960px) {
    .top-nav > .nav {
      display: block; }
    .top-nav > .nav > li {
      display: inline-block; }
    .top-nav > .nav > li + li {
      margin-left: 2.4rem; }
    .top-nav > .nav .link {
      padding-bottom: .8rem;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 700;
      text-decoration: none; }
    .top-nav > .nav .link:hover {
      border-bottom: 2px solid rgba(255, 255, 255, 0.5); } }

@media screen and (min-width: 960px) {
  .mobile-toggle {
    display: none; } }

.hero-image {
  display: flex;
  position: relative;
  height: 45vh;
  padding: 4.8rem 2.4rem 2.4rem;
  background: rebeccapurple url(../imgs/hero.jpg) center no-repeat;
  background-size: cover; }
  @media screen and (min-width: 960px) {
    .hero-image {
      height: 70vh;
      padding: 4.8rem 8rem 2.4rem; } }

.hero-image::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  bottom: -7rem;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: #CCE2A3; }
  @media screen and (min-width: 960px) {
    .hero-image::after {
      bottom: -10.6rem;
      height: 16rem; } }

.hero-image > .main-heading {
  width: 66%;
  margin: auto 0;
  color: #fff;
  font-size: 2.4rem;
  letter-spacing: .1rem;
  line-height: 1.25;
  text-transform: uppercase; }
  @media screen and (min-width: 960px) {
    .hero-image > .main-heading {
      width: 50%;
      margin: auto 0;
      font-size: 6.4rem;
      line-height: 1.1; } }

.intro {
  position: relative;
  z-index: 10;
  margin: 0 0 0 1.6rem;
  padding: 1.6rem 2.4rem .8rem .8rem;
  border-top-left-radius: .4rem;
  background-color: #fff; }
  @media screen and (min-width: 960px) {
    .intro {
      margin: 0 0 0 5.6rem;
      padding: 1.6rem 8rem .8rem 2.4rem; } }

.intro > h2 {
  margin-bottom: .8rem;
  font-size: 2.6rem; }
  @media screen and (min-width: 960px) {
    .intro > h2 {
      font-size: 4.6rem; } }

.intro > p {
  line-height: 1.3; }
  @media screen and (min-width: 960px) {
    .intro > p {
      font-size: 2.8rem; } }

.solutions .products {
  display: none; }

@media screen and (min-width: 960px) {
  .solutions {
    margin: 8rem 0; }
  .solutions > .hospitality > a::after {
    background: url(../imgs/hotel.jpg) center/cover no-repeat; }
  .solutions > .healthcare > a::after {
    background: url(../imgs/health.jpg) center/cover no-repeat; }
  .solutions > .retail > a::after {
    background: url(../imgs/retail.jpg) center/cover no-repeat; }
  .solutions .products {
    position: absolute;
    height: 0;
    padding: 3.2rem 2.4rem;
    overflow: hidden;
    display: block;
    transform: translateY(-100%);
    transition: all ease .2s;
    opacity: 0;
    background-color: #253544; }
    .solutions .products h4 {
      text-transform: uppercase;
      margin: 0 0 .8rem;
      opacity: .6; }
    .solutions .products > ul > li + li {
      margin-top: 3.2rem; }
    .solutions .products > ul > li > ul > li + li {
      margin-top: .4rem; }
    .solutions .products a {
      text-decoration: none;
      color: #fff;
      font-size: 1.4rem; } }

.solutions > section {
  position: relative;
  margin: 3.2rem 2.4rem;
  border-radius: .4rem;
  color: #fff;
  font-size: 1.6rem; }
  @media screen and (min-width: 960px) {
    .solutions > section:hover .products {
      display: block;
      position: relative;
      height: auto;
      transform: translateY(0);
      opacity: 1; } }
  .solutions > section::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .4rem;
    opacity: .8; }
    @media screen and (min-width: 960px) {
      .solutions > section::before {
        opacity: 1; }
      .solutions > section::before:nth-child(2) > a > .solution-info {
        float: right;
        padding: 4.8rem 0 4.8rem 4.8rem; }
      .solutions > section::before:nth-child(2) > a::after {
        right: auto;
        left: 0;
        border-radius: .4rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; } }
  .solutions > section > * {
    position: relative;
    z-index: 5; }
  @media screen and (min-width: 960px) {
    .solutions > section {
      position: relative;
      margin: 0 8rem;
      overflow: hidden;
      background-image: none !important; } }
  .solutions > section > a {
    display: block;
    padding: 4.8rem 3.2rem;
    color: #fff;
    text-decoration: none; }
    @media screen and (min-width: 960px) {
      .solutions > section > a {
        transition: all ease .2s;
        overflow: hidden; }
      .solutions > section > a:hover {
        background-color: rgba(255, 255, 255, 0.1); }
      .solutions > section > a::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
        border-radius: .4rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        opacity: .8; } }
    @media screen and (min-width: 960px) {
      .solutions > section > a > .solution-info {
        width: 50%;
        padding: 4.8rem 4.8rem 4.8rem 0; } }

.solutions h2 {
  margin-bottom: .8rem; }

.solutions > .hospitality {
  background: url(../imgs/hotel.jpg) center/cover no-repeat; }

.solutions > .hospitality::before {
  background-color: #34495E; }

.solutions > .healthcare {
  background: url(../imgs/health.jpg) center/cover no-repeat; }

.solutions > .healthcare::before {
  background-color: #167BBF; }

.solutions > .retail {
  background: url(../imgs/retail.jpg) center/cover no-repeat; }

.solutions > .retail::before {
  background-color: #833471; }

.extra {
  padding: 3.2rem;
  flex-basis: 50%; }
  @media screen and (min-width: 960px) {
    .extra {
      padding: 8rem 4.8rem; } }
  .extra > h3 {
    font-size: 2.4rem; }
    @media screen and (min-width: 960px) {
      .extra > h3 {
        font-size: 4rem; } }

.client-portal {
  flex-basis: 50%;
  padding: 3.2rem;
  background-color: #FDC436;
  text-align: center; }
  @media screen and (min-width: 960px) {
    .client-portal {
      padding: 8rem 4.8rem; } }
  .client-portal .btn {
    margin-top: 1.6rem; }

.client-portal > h2 {
  margin-bottom: .8rem;
  text-align: left; }

.client-portal > p {
  text-align: left; }

.our-clients {
  margin: 4rem 0 0;
  padding: 4rem 2.4rem;
  background-color: #F0EFF4; }
  @media screen and (min-width: 960px) {
    .our-clients {
      padding: 6.4rem 2.4rem; } }
  .our-clients > h3 {
    margin-bottom: 2.4rem;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (min-width: 960px) {
      .our-clients > h3 {
        font-size: 4rem; } }

.client-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .client-logos > .logo {
    width: 8rem;
    height: 8rem;
    margin: 2% 4%;
    border-radius: 50%;
    background-color: #ccc; }
    @media screen and (min-width: 960px) {
      .client-logos > .logo {
        width: 14rem;
        height: 14rem;
        margin: 2% 3%; } }

.main-footer {
  background-color: #5C6055; }

.main-footer > * {
  opacity: 0; }

/*-----------------------------------
    Utilities
------------------------------------*/
.flex {
  display: flex; }

.two-sections {
  display: block; }
  @media screen and (min-width: 768px) {
    .two-sections {
      display: flex; } }
