



.slick-slide {
  margin: 0 2.4rem;

  img {
    display: block;
  }

  .logo {
    img {
      border-radius: 50%;
    }
  }
}

.slick-slider {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  display: block;
  position: relative;
  box-sizing: border-box;
          user-select: none;
}

.slick-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

.slick-track:before,
.slick-track:after {
  content: '';
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  min-height: 1px;
  float: left;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}


.slick-slider {

  &:hover {

    .slick-arrow {
      opacity: 1;
    }
  }

  .slick-arrow {
    position: absolute;
    z-index: 20;
    top: 0;
    height: 100%;
    transition: opacity .3s ease;
    border: 0;
    opacity: 0;
    background: transparent;
    color: rgba(#fff, 0);
    cursor: pointer;

    &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    padding: 5rem 0;
    color: rgba(#000, 0.1);
    font-size: 6.4rem;
    line-height: .2;
    }

    &.slick-prev {
      left: 0;

      &::after {
        content: '<';
      }
    }

    &.slick-next {
      right: .8rem;
      left: auto;

      &::after {
        content: '>';
        right: 0;
        left: auto;
      }
    }
  }
}
